.forminput {
  background-color: #ffffff;

  font-size: 14px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #dddfee;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 25px 0;
  margin-top: 10px;
  text-indent: 12px;
  /* text-transform: capitalize; */
  font-family: var(--general-font);
}

.forminput:focus {
  outline: none;
  border: 1px solid #505ca4;
  box-shadow: 0px 2px 24px rgba(80, 92, 164, 0.15);
}

/* .show_password_icon {
  background-image: url(../../backgroundIMG/show.svg);
  background-repeat: no-repeat;
  background-position-x: 215px;
  background-position-y: center;
  margin-right: 12px;
} */

/* .show_password_icon {
  position: relative;
}
.input_Icon {
  position: absolute;
  top: 10px;
  width: 40px;
  right: 20px;
  cursor: pointer;
} */

input[type="password"] {
  letter-spacing: 0.2em;
  color: #000;
  font-size: 16px;
}
input[type="password"]::placeholder {
  letter-spacing: 0.3em;
  font-size: 34px;
  opacity: 1;
}
label {
  margin: 0px;
  color: #333333;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 0px;
}

input[type="submit"]:hover {
  background-color: #f6f8f6;
}

input:focus::placeholder,
textarea::placeholder {
  opacity: 0.2;
  font-size: 12px;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.4;
  font-size: 12px;
}

label.required:after {
  color: #505ca4;
  content: " *";
  font-size: 24px;
}
