@import url("https://fonts.googleapis.com/css2?family=Avenir Next:wght@300;400;700&display=swap");

/* Global Styles */
:root {
  --general-font: "Avenir Next", sans-serif;
  --primary-btn-color: #505ca4;
  --text-grey-color: #bdbdbd;
  --title-text-color: #1b2056;
  --Text-Body-color: #505ca4;

  --mainWhite: #ffffff;
  --offWhite: #f9f9f9;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 4px 3px 0px rgba(209, 209, 239, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: var(--general-font);
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--Text-Body-color);
  overflow-x: hidden;
}

img {
  max-width: 100% !important;
  vertical-align: middle;
  border: none;
}
a {
  color: var(--Text-Body-color);
  text-decoration: none;
}
a:valid {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Utilities */
.container-holder {
  margin: 0 auto;
  padding: 0 15px;
}

/* grow card */
.grow {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.1s ease-out;
}
.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

/* Animation keyframe */
.slide_top {
  animation: slide_top 0.5s linear forwards;
  animation-delay: 0.2s;
}

@media screen and (max-width: 480px) {
  .container-holder {
    padding: 20px;
  }

  .break-point {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-holder {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-holder {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-holder {
    width: 1170px;
  }
}

@keyframes slide_top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
